@{
    ViewData["Title"] = "";
}

<nav class="navbar navbar-light d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="navbar-brand" href="#">
        <img src="img/Loto-tatneft.png" width="180" height="75" alt="">
    </a>
</nav>
<div class="d-flex justify-content-center">
    <img src="img/glav.webp" class="img-fluid" alt="...">
</div>