@model PipelineWebApplication.Models.PipelinePassport

@{
    ViewData["Title"] = "Create";
}

<h1>Создать</h1>

<h4>Участки трубопровода</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FactoryMptid" class="control-label"></label>
                <select autocomplete="on" asp-for="FactoryMptid" class="form-control" asp-items="ViewBag.FactoryMptid"></select>
            </div>
            <div class="form-group">
                <label asp-for="FactoryPipeId" class="control-label"></label>
                <select asp-for="FactoryPipeId" class ="form-control" asp-items="ViewBag.FactoryPipeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BuildingCompanyId" class="control-label"></label>
                <select asp-for="BuildingCompanyId" class ="form-control" asp-items="ViewBag.BuildingCompanyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaterialId" class="control-label"></label>
                <select asp-for="MaterialId" class ="form-control" asp-items="ViewBag.MaterialId"></select>
            </div>
            <div class="form-group">
                <label asp-for="InternalCoatingId" class="control-label"></label>
                <select asp-for="InternalCoatingId" class ="form-control" asp-items="ViewBag.InternalCoatingId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PipeTypeId" class="control-label"></label>
                <select asp-for="PipeTypeId" class ="form-control" asp-items="ViewBag.PipeTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PipelineDataId" class="control-label"></label>
                <select  asp-for="PipelineDataId" class ="form-control" asp-items="ViewBag.PipelineDataId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PlotStart" class="control-label"></label>
                <input asp-for="PlotStart" class="form-control" />
                <span asp-validation-for="PlotStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlotEnd" class="control-label"></label>
                <input asp-for="PlotEnd" class="form-control" />
                <span asp-validation-for="PlotEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lenght" class="control-label"></label>
                <input asp-for="Lenght" class="form-control" />
                <span asp-validation-for="Lenght" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input type="date" asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input type="checkbox" asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diameter" class="control-label"></label>
                <input asp-for="Diameter" class="form-control" />
                <span asp-validation-for="Diameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WallThickness" class="control-label"></label>
                <input asp-for="WallThickness" class="form-control" />
                <span asp-validation-for="WallThickness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PavingDepth" class="control-label"></label>
                <input asp-for="PavingDepth" class="form-control" />
                <span asp-validation-for="PavingDepth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateInternalCoating" class="control-label"></label>
                <input type="date" asp-for="DateInternalCoating" class="form-control" />
                <span asp-validation-for="DateInternalCoating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutdoorCoating" class="control-label"></label>
                <input asp-for="OutdoorCoating" class="form-control" />
                <span asp-validation-for="OutdoorCoating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfConstruction" class="control-label"></label>
                <input asp-for="TypeOfConstruction" class="form-control" />
                <span asp-validation-for="TypeOfConstruction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deviation" class="control-label"></label>
                <input asp-for="Deviation" class="form-control" />
                <span asp-validation-for="Deviation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConstructionCost" class="control-label"></label>
                <input asp-for="ConstructionCost" class="form-control" />
                <span asp-validation-for="ConstructionCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JointReplacement1" class="control-label"></label>
                <input asp-for="JointReplacement1" class="form-control" />
                <span asp-validation-for="JointReplacement1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JointReplacement2" class="control-label"></label>
                <input asp-for="JointReplacement2" class="form-control" />
                <span asp-validation-for="JointReplacement2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JointReplacementDate" class="control-label"></label>
                <input type="date" asp-for="JointReplacementDate" class="form-control" />
                <span asp-validation-for="JointReplacementDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Закрыть</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
