@model PipelineWebApplication.Models.PipelineDatum

@{
    ViewData["Title"] = "Редактирование";
}

<h1>Редактировать</h1>

<h4>Данные трубопровода</h4>
<hr />
<div class="row">
    <div class="">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group form-group form-group d-flex justify-content-between mb-3">
                <label asp-for="BrigadeId" class="control-label w-25"></label>
                <select asp-for="BrigadeId" class="form-control" asp-items="ViewBag.BrigadeId"></select>
                <span asp-validation-for="BrigadeId" class="text-danger"></span>
            </div>
            <div class="form-group form-group form-group d-flex justify-content-between mb-3">
                <label asp-for="FieldId" class="control-label w-25"></label>
                <select asp-for="FieldId" class="form-control" asp-items="ViewBag.FieldId"></select>
                <span asp-validation-for="FieldId" class="text-danger"></span>
            </div>
            <div class="form-group form-group form-group d-flex justify-content-between mb-3">
                <label asp-for="RegionStartId" class="control-label w-25"></label>
                <select asp-for="RegionStartId" class="form-control" asp-items="ViewBag.RegionStartId"></select>
                <span asp-validation-for="RegionStartId" class="text-danger"></span>
            </div>
            <div class="form-group form-group form-group d-flex justify-content-between mb-3">
                <label asp-for="RegionEndId" class="control-label w-25"></label>
                <select asp-for="RegionEndId" class="form-control" asp-items="ViewBag.RegionEndId"></select>
                <span asp-validation-for="RegionEndId" class="text-danger"></span>
            </div>
           
          
            <input type="hidden" id="PipelineName" asp-for="Name" class="form-control"  />
           
            
            <div class="form-group form-group form-group d-flex justify-content-between mb-3">
                <label asp-for="Length" class="control-label w-25"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
           
            <div class="form-group form-group form-group d-flex justify-content-between mb-3">
                <label asp-for="Date" class="control-label w-25"></label>
                <input type="date" asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group form-group form-group d-flex justify-content-between mb-3">
                <label asp-for="Purpose" class="control-label w-25"></label>
                <input asp-for="Purpose" class="form-control" />
                <span asp-validation-for="Purpose" class="text-danger"></span>
            </div>
            <div class="form-group form-group form-group d-flex justify-content-between mb-3">
                <label asp-for="TransportedMedium" class="control-label w-25"></label>
                <input asp-for="TransportedMedium" class="form-control" />
                <span asp-validation-for="TransportedMedium" class="text-danger"></span>
            </div>
            <div class="form-group form-group form-group d-flex justify-content-between mb-3">
                <label asp-for="Category" class="control-label w-25"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group form-group form-group d-flex justify-content-between mb-3">
                <label asp-for="FlowsheetNumber" class="control-label w-25"></label>
                <input asp-for="FlowsheetNumber" class="form-control" />
                <span asp-validation-for="FlowsheetNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-group form-group d-flex justify-content-between mb-3">
                <label asp-for="Note" class="control-label w-25"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group form-group form-group d-flex justify-content-between mb-3">
                <label asp-for="DebitWater" class="control-label w-25"></label>
                <input asp-for="DebitWater" class="form-control" />
                <span asp-validation-for="DebitWater" class="text-danger"></span>
            </div>
            <div class="form-group form-group form-group d-flex justify-content-between mb-3">
                <label asp-for="DebitOil" class="control-label w-25"></label>
                <input asp-for="DebitOil" class="form-control" />
                <span asp-validation-for="DebitOil" class="text-danger"></span>
            </div>
            <div class="form-group form-group form-group d-flex justify-content-between mb-3">
                <label asp-for="State" class="control-label w-25"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group form-group form-group d-flex justify-content-between mb-3">
                <label asp-for="Temperature" class="control-label w-25"></label>
                <input asp-for="Temperature" class="form-control" />
                <span asp-validation-for="Temperature" class="text-danger"></span>
            </div>
            <div class="form-group form-group form-group d-flex justify-content-between mb-3">
                <label asp-for="PFact" class="control-label w-25"></label>
                <input asp-for="PFact" class="form-control" />
                <span asp-validation-for="PFact" class="text-danger"></span>
            </div>
            <div class="form-group form-group form-group d-flex justify-content-between mb-3">
                <label asp-for="PCalculated" class="control-label w-25"></label>
                <input asp-for="PCalculated" class="form-control" />
                <span asp-validation-for="PCalculated" class="text-danger"></span>
            </div>
            <div class="form-group d-grid gap-2 d-md-flex justify-content-md-end">
                <input type="submit" value="Сохранить" class="btn btn-success me-md-2" />
                <a asp-action="Index"><input value="Закрыть" class="btn btn-success" /></a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
