@model PipelineWebApplication.Models.PipelineDatum

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PipelineDatum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BrigadeId" class="control-label"></label>
                <select asp-for="BrigadeId" class="form-control" asp-items="ViewBag.BrigadeId"></select>
                <span asp-validation-for="BrigadeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FieldId" class="control-label"></label>
                <select asp-for="FieldId" class="form-control" asp-items="ViewBag.FieldId"></select>
                <span asp-validation-for="FieldId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionStartId" class="control-label"></label>
                <select asp-for="RegionStartId" class="form-control" asp-items="ViewBag.RegionStartId"></select>
                <span asp-validation-for="RegionStartId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionEndId" class="control-label"></label>
                <select asp-for="RegionEndId" class="form-control" asp-items="ViewBag.RegionEndId"></select>
                <span asp-validation-for="RegionEndId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionControlId" class="control-label"></label>
                <select asp-for="RegionControlId" class="form-control" asp-items="ViewBag.RegionControlId"></select>
                <span asp-validation-for="RegionControlId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SignDouble" class="control-label"></label>
                <input asp-for="SignDouble" class="form-control" />
                <span asp-validation-for="SignDouble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TieInPlace" class="control-label"></label>
                <input asp-for="TieInPlace" class="form-control" />
                <span asp-validation-for="TieInPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptimizedLength" class="control-label"></label>
                <input asp-for="OptimizedLength" class="form-control" />
                <span asp-validation-for="OptimizedLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input type="date" asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purpose" class="control-label"></label>
                <input asp-for="Purpose" class="form-control" />
                <span asp-validation-for="Purpose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportedMedium" class="control-label"></label>
                <input asp-for="TransportedMedium" class="form-control" />
                <span asp-validation-for="TransportedMedium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlowsheetNumber" class="control-label"></label>
                <input asp-for="FlowsheetNumber" class="form-control" />
                <span asp-validation-for="FlowsheetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DebitWater" class="control-label"></label>
                <input asp-for="DebitWater" class="form-control" />
                <span asp-validation-for="DebitWater" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DebitOil" class="control-label"></label>
                <input asp-for="DebitOil" class="form-control" />
                <span asp-validation-for="DebitOil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temperature" class="control-label"></label>
                <input asp-for="Temperature" class="form-control" />
                <span asp-validation-for="Temperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PFact" class="control-label"></label>
                <input asp-for="PFact" class="form-control" />
                <span asp-validation-for="PFact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PCalculated" class="control-label"></label>
                <input asp-for="PCalculated" class="form-control" />
                <span asp-validation-for="PCalculated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
